# --- DOMAIN CONFIGURATION ---
WEB_DOMAIN=scryme.local
CRM_DOMAIN=crm.scryme.local
API_DOMAIN=api.scryme.local
ZITADEL_DOMAIN=auth.scryme.local
WINDMILL_DOMAIN=windmill.scryme.local
MAILPIT_HOST=mail.scryme.local

# --- DATABASE CONFIGURATION ---
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=

# ZITADEL DB
ZITADEL_DB_USER=
ZITADEL_DB_PASSWORD=
ZITADEL_DB_NAME=

# WINDMILL DB
WINDMILL_DB_USER=
WINDMILL_DB_PASSWORD=
WINDMILL_DB_NAME=

# --- INFRASTRUCTURE ---
RABBITMQ_USER=
RABBITMQ_PASS=
RABBITMQ_URL=
REDIS_URL=redis://redis:6379

# --- AUTHENTICATION (ZITADEL) ---
ZITADEL_MASTERKEY=
ZITADEL_CLIENT_ID=
ZITADEL_ORG_ID=
ZITADEL_PROJECT_ID=

# --- APPLICATION SECRETS ---
JWT_SECRET=
BETTER_AUTH_SECRET=

# --- EXTERNAL URLS ---
NEXT_PUBLIC_API_URL=http://api.scryme.local
NEXT_PUBLIC_WEB_URL=http://scryme.local
NEXT_PUBLIC_CRM_URL=http://crm.scryme.local

# --- WINDMILL ---
WINDMILL_INTERNAL_URL=http://windmill-server:8000
