NEXT_PUBLIC_SANITY_PROJECT_ID=your-project-id
NEXT_PUBLIC_SANITY_DATASET=your-dataset
SANITY_API_TOKEN=your-api-token
NEXT_PUBLIC_API_URL=http://localhost:3002
NEXT_PUBLIC_WEB_URL=http://localhost:3000
NEXT_PUBLIC_POSTHOG_PROJECT_TOKEN=phc_nxEdZQ3BFRt9ZVfivk61LIYSk6JgQ0GWTeamNBVcdPh
NEXT_PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com
