# --- GLOBAL ---
# The environment the app is running in (development, production, test)
# NODE_ENV=development

# --- REQUIRED ---
# API URL for both frontend and backend
VITE_API_URL=https://api.scryme.tech/api/v2

# --- OPTIONAL ---
# Tauri Updater Configuration
BAKERY_UPDATE_URL=https://api.scryme.tech/api/v2/bakery/update/{{target}}/{{current_version}}
# TAURI_PUBLIC_KEY must be a base64 encoded public key for signing updates
# You can generate one using `tauri signer generate`
TAURI_PUBLIC_KEY=dW51c2VkX3B1YmxpY19rZXlfZm9yX2J1aWxkX3ZlcmlmaWNhdGlvbg==
